<mat-card class="example-card">
  <mat-card-header class="card-header" [style.border-left-color]="chipStyle.borderColor">
    <div>
      <mat-chip-listbox class="chip-container">
        <mat-chip>
          {{assignment?.matiere?.nom}}
        </mat-chip>
      </mat-chip-listbox>
      <p class="card-date">Date limite: {{assignment?.dateDeRendu | date: 'dd/MM/yy'}}</p>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p class="card-content-title">{{assignment?.nom}}</p>
    <p class="card-content-student">Etudiant: test</p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-footer class="card-footer">
    <div class="teacher-container">
      <img class="img-teacher" [src]="assignment?.matiere?.photo" alt="photo du prof"/>
      <span class="label-teacher">{{assignment?.matiere?.prof}}</span>
    </div>
    <p *ngIf="assignment?.note; else falseBlock">
       {{assignment?.note}}/20
    </p>
    <ng-template #falseBlock>
      <p>-</p>
    </ng-template>
  </mat-card-footer>
 </mat-card>
