
<div class="container">
  <mat-card class="example-card" *ngIf="assignmentTransmis">

    <mat-card-content class="card-body">
      <div class="row-left">
        <img mat-card-image [src]="fileUrl(assignmentTransmis.matiere.photo)" alt="Photo de la matière" height="100px" width="100px">
      </div>
      <div class="row-right">
        <h2 class="title">{{assignmentTransmis.nom}}</h2>
        <span class="card-date" matListItemTitle>Date de rendu : {{assignmentTransmis.dateDeRendu | date: 'dd/MM/yy'}}</span>
      <h3><mat-icon>folder</mat-icon> Matière</h3>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Nom de matière: {{assignmentTransmis.matiere.nom}}</span>
          <span matListItemLine>Professeur : {{assignmentTransmis.matiere.prof}}</span>
        </mat-list-item>
      </mat-list>
      <h3><mat-icon>account_box</mat-icon>Élève</h3>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>{{assignmentTransmis.eleve.name}}</span>
          <span matListItemLine>{{assignmentTransmis.eleve.email}}</span>
        </mat-list-item>
      </mat-list>
      <h3>Note</h3>
      <mat-list>
        <mat-list-item>Rendu : {{assignmentTransmis.rendu? "Oui" : "Non"}}</mat-list-item>
        <mat-list-item *ngIf="assignmentTransmis.rendu">
          <span matListItemTitle>{{assignmentTransmis.note}}/20</span>
          <span matListItemLine>{{assignmentTransmis.remarques}}</span>
        </mat-list-item>
      </mat-list>
        <div class="example-container" *ngIf="notingMode">
          <mat-form-field hintLabel="Entre 0 et 20" class="example-full-width">
            <mat-label>Entrer une note</mat-label>
            <input matInput #input placeholder="10" type="number" min="0" max="20" [(ngModel)]="note">
            <mat-error *ngIf="inputError.note">{{inputError.note}}</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Remarques</mat-label>
            <textarea matInput [(ngModel)]="remarque"></textarea>
          </mat-form-field>
          <button mat-stroked-button color="primary" (click)="onAssignmentRendu()">
            Rendre le devoir
          </button>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="isAdmin()" class="actions">
      <div class="edit">
        <button mat-stroked-button color="basic"
          *ngIf="!assignmentTransmis.rendu"
          (click)="onAssignmentHand()"
        >RENDRE LE DEVOIR</button>
        <button mat-stroked-button color="primary" (click)="onEditAssignment()">MODIFIER</button>
      </div>  
      <button mat-stroked-button color="warn" (click)="onConfirmDelete()">SUPPRIMER</button>
    </mat-card-actions>
  </mat-card>
</div>
