.container{
    width: 80%;
    margin: 10px auto;
}

.example-card{
    padding: 20px;
}

.actions{
    display: flex;
    justify-content: space-between;
}

.edit{
    display: flex;
}
.edit :first-child{
    margin-right: 10px;
}

.example-container{
    min-width: 150px;
    max-width: 400px;
}

.example-full-width {
    width: 100%;
  }
.card-body{
  display: flex;
  flex-direction: row;

}
.row-left{
  width: 25%;
}
.row-right{
  width: 50%;
}
.card-date{
  color:#7a7a7a;
  font-size: 12px;
  display: block;
}

.title{
  margin-bottom: 5px!important;
  font-size: 28px;
}
