.container {
    display:flex;
    flex-direction:column;
}
.title{
  margin: 0;
  display: inline;
}
.title-icon{
  font-size: 50px;
  text-align: center;
  height: 70px;
  width: 50px;
}
.title-container{
  margin-top: 25px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ajouterBtn {
    align-self: flex-end;
    margin-right: 25px;
    margin-bottom: 50px;
}
.changeTab{
  align-self: flex-end;
}

.example-viewport {
    height: 600px;
    width: 1600px;
    border: 1px solid black;
  }

  .example-item {
    height: 150px;
  }

  .demo-table {
    width: 100%;
  }

  .mat-column-id {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }

  .mat-column-nom {
    padding-left: 16px;
    font-size: 20px;
  }

  .mat-column-dateDeRendu {
    font-style: italic;
  }

  .mat-column-rendu {
    width: 32px;
    text-align: center;
    font-weight: bold;
  }

  .example-card {
    max-width: 400px;
    margin-bottom: 8px;
  }

  .card-container{
    padding: 25px;
  }
