<h3 mat-dialog-title align="center">Mettre une note et une remarque</h3>
<div mat-dialog-content class="example-container">
    <span>{{data.nom}} de {{data.eleve.name}}</span>
    <mat-form-field hintLabel="Entre 0 et 20" class="example-full-width">
        <mat-label>Entrer une note</mat-label>
        <input matInput #input placeholder="10" type="number" min="0" max="20" [(ngModel)]="note" [formControl]="noteFormControl">
        <mat-error *ngIf="noteFormControl.hasError('min') || noteFormControl.hasError('max')  && !noteFormControl.hasError('required')" >
            Insérer une note entre 0 et 20
        </mat-error>
        <mat-error *ngIf="noteFormControl.hasError('required')">
            Insérer une note
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Remarques</mat-label>
        <textarea matInput [(ngModel)]="remarque"></textarea>
    </mat-form-field>
</div>


<div mat-dialog-actions align="center">
    <button mat-stroked-button color="default" (click)="dialogRef.close()">Annuler</button>
    <button mat-stroked-button color="primary" [mat-dialog-close]="{note, remarque}" disabled 
        *ngIf="noteFormControl.hasError('min') || noteFormControl.hasError('max')  || noteFormControl.hasError('required'); else noerror">
        Rendre le devoir
    </button>
    <ng-template #noerror>
        <button mat-stroked-button color="primary" [mat-dialog-close]="{note, remarque}">
            Rendre le devoir
        </button>
    </ng-template>
    
</div>
  
