.container{
  margin: 0;
  padding: 0;
}
.toolbar-row{
  display: flex;
  justify-content: space-between;
}
.menu-icon{
  height: 60px;
  width: 120px;

}
.menu-icon>.mat-icon{
  font-size: 28px;
  height: 40px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav{
  text-decoration: none;
  color:aliceblue;
  font-size: smaller;
}
