.container{
  margin: 0;
  padding: 0;
}
.toolbar-row{
  display: flex;
  justify-content: space-between;
}
.menu-icon{
  font-size: 25px;
}

.nav{
  text-decoration: none;
  color:aliceblue;
  font-size: smaller;
}
